* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}

.flex {

    display: flex;
    justify-content: space-around;
}

.my-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* //GENRATORE NUMERI CASUALI */
h2,
p {
    text-align: center;
}


.simon_btn {
    padding: 4px;
    color: white;
    background-color: rgb(90, 154, 218);
}

h5 {
    margin: 10px;
    background-color: rgba(98, 214, 20, 0.252);
    ;
    box-shadow: 0 0 20px rgba(98, 214, 20, 0.859);
}

/* .h5-loser {
    margin: 10px;
    background-color: rgba(216, 38, 38, 0.252);
    ;
    box-shadow: 0 0 20px rgba(214, 20, 20, 0.859);

} */


